@page
@model MascotaFeliz.App.Presentacion.Pages.ListModel
@{
}
<h1>MASCOTA FELIZ</h1>
<h2>Veterinarios:</h2>
<table class="table">
    <tr>
        <th>IDENTIFICACIÓN</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>TELEFONO</th>
        <th>TARJETA PROFESIONAL</th>
    </tr>
    @foreach (var veterinario in Model.Veterinarios)
    {
        <tr>
            <td>@veterinario.Identificacion</td>
            <td>@veterinario.Nombre</td>
            <td>@veterinario.Apellidos</td>
            <td>@veterinario.Telefono</td>
            <td>@veterinario.TarjetaProfesional</td>
        </tr>
    }
</table>
<h2>Propietarios:</h2>
<table class="table">
    <tr>
        <th>IDENTIFICACIÓN</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>TELEFONO</th>
        <th>DIRECCIÓN</th>
    </tr>
    @foreach (var propietario in Model.Propietarios)
    {
        <tr>
            <td>@propietario.Identificacion</td>
            <td>@propietario.Nombre</td>
            <td>@propietario.Apellidos</td>
            <td>@propietario.Telefono</td>
            <td>@propietario.Direccion</td>
        </tr>
    }
</table>
<h2>Mascotas:</h2>
<table class="table">
    <tr>
        <th>PET NOMBRE</th>
        <th>RAZA</th>
        <th>TIPO DE ANIMAL</th>
        <th>DUEÑO</th>
    </tr>
    @foreach (var mascota in Model.Mascotas)
    {
        <tr>
            <td>@mascota.NombreMascota</td>
            <td>@mascota.Raza</td>
            <td>@mascota.TipoAnimal</td>
            <td>@mascota.Propietario.Nombre</td>
        </tr>
    }
</table>
<h2>Visitas:</h2>
<table class="table">
    <tr>
        <th>PET NOMBRE</th>
        <th>VETERINARIO</th>
        <th>FECHA</th>
        <th>TEMPERATURA</th>
        <th>PESO</th>
        <th>FRECUENCIA RESPIRATORIA</th>
        <th>FRECUENCIA CARDIACA</th>
        <th>ESTADO DE ÁNIMO</th>
        <th>RECOMENDACIONES</th>
    </tr>
    @foreach (var visita in Model.Visitas)
    {
        <tr>
            <td>@visita.Mascota.NombreMascota</td>
            <td>@visita.Veterinario.Nombre</td>
            <td>@visita.Fecha</td>
            <td>@visita.Temperatura °C</td>
            <td>@visita.Peso Kg</td>
            <td>@visita.FrecuenciaRespiratoria x Minuto</td>
            <td>@visita.FrecuenciaCardiaca x Minuto</td>
            <td>@visita.EstadoDeAnimo</td>
            <td>@visita.Recomendaciones</td>
        </tr>
    }
</table>