@page
@model MascotaFeliz.App.Presentacion.Pages.DetailsVeterinarioModel
@{
    Layout = null;
}


<head>
    <link rel="stylesheet" href="~/css/detailsInfo.css" />
    <title>Detalle del Veterinario - Mascota Feliz</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
        <a id="nav_header_logo" asp-page="/RegisterPages/vetView"><img src="/lib/logoMascFeliz.png"
                alt="Logo Mascota Feliz" />
        </a>
        <a id="nav_header_text" asp-page="/RegisterPages/vetView">
            <h1>Mascota Feliz</h1>
        </a>

        <nav class="navbar">
            <ul class="nav_menu">
                <li><a id="nav_header_visit" asp-page="/RegisterPages/visitRegister">Registro Visitas</a></li>
                <li><a id="nav_header_petregister">Historial de Registros</a>
                    <ul class="nav_submenu">
                        <li><a href="/RegisterPages/MascotasReg">Mascotas</a></li>
                        <li><a href="/RegisterPages/PropietarioReg">Propietarios</a></li>
                        <li><a href="/RegisterPages/List">Veterinarios</a></li>
                        <li><a href="/RegisterPages/VisitasReg">Visitas</a></li>
                    </ul>
                </li>
                <li><a id="nav_header_profile" href="#">Perfil</a></li>
            </ul>

        </nav>
        <div class="col-10">
            @Html.Raw(@ViewData["Respuesta"])
        </div>
    </header>

    <main>

        <h1>DETALLES DEL VETERINARIO</h1>
        <h3>Identificacion: @Model.Veterinario.Identificacion</h3>
        <div>
            Nombre: @Model.Veterinario.Nombre
        </div>
        <div>
            Apellidos: @Model.Veterinario.Apellidos
        </div>
        <div>
            Telefono: @Model.Veterinario.Telefono
        </div>
        <div>
            Tarjeta Profesional:@Model.Veterinario.TarjetaProfesional
        </div>
        <div class="col m-3">
            <ul class="list-group">
                <li class="list-group-item text-center"><strong>Visitas</strong></li>
                @foreach (var visita in Model.Veterinario.Visitas)

                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@visita.Mascota - @visita.Fecha</span>
                        <div>
                            <form method="POST" class="form-inline" id="@visita.Id">
                                <a class="btn btn-sm btn-primary mr-2" asp-page="/RegisterPages/DetailsVeterinario"
                                asp-route-visitaId="@visita.Id" asp-route-veterinarioId="@Model.Veterinario.Id"
                                data-toggle="tooltip" data-placement="top" title="Detalles">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="btn btn-sm btn-success mr-2" asp-page="RegisterPages//EditVisita"
                                asp-route-visitaId="@visita.Id" asp-route-veterinarioId="@Model.Veterinario.Id"
                                data-toggle="tooltip" data-placement="top" title="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <input type="hidden" value="@visita.Id" name="idvisita">
                                <input type="hidden" value="@Model.Veterinario.Id" name="idveterinario">
                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmar(@visita.Id);"
                                data-toggle="tooltip" data-placement="right" title="Eliminar">
                                    <button type="submit" class="btn btn-primary" id="save_form"></button>
                                    <i class="fas fa-trash"></i>
                                </a>
                            </form>
                        </div>
                    </li>

                }
            </ul>

        </div>
        <p class="p-separator-up"></p>
        <a asp-page="./List" class="btn-default">Regresar</a>
        <a asp-page="./EditVisita" asp-route-veterinarioId="@Model.Veterinario.Id" class="btn btn-primary">Agregar una
            visita</a>
        <p class="p-separator-down"></p>

    </main>

    <footer>
        <article>
            <p><i>© 2021 - Designed and Developed by InMotion</i></p>
        </article>
    </footer>

</body>
<script>
    function confirmar(id) {
        var opcion = confirm("Realmente desea eliminar la visita?");
        if (opcion == true) {
            $('#' + id).submit();
        }
    }
</script>