@page
@model MascotaFeliz.App.Presentacion.Pages.EditVisitaModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/editVisitStyle.css" />
    <title>Editar datos de la Visita - Mascota Feliz</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body>

    <header>
        <a id="nav_header_logo" asp-page="/RegisterPages/vetView"><img src="/lib/logoMascFeliz.png"
                alt="Logo Mascota Feliz" />
        </a>
        <a id="nav_header_text" asp-page="/RegisterPages/vetView">
            <h1>Mascota Feliz</h1>
        </a>

        <nav class="navbar">
            <ul class="nav_menu">
                <li><a id="nav_header_visit" asp-page="/RegisterPages/visitRegister">Registro Visitas</a></li>
                <li><a id="nav_header_petregister">Historial de Registros</a>
                    <ul class="nav_submenu">
                        <li><a href="/RegisterPages/MascotasReg">Mascotas</a></li>
                        <li><a href="/RegisterPages/PropietarioReg">Propietarios</a></li>
                        <li><a href="/RegisterPages/List">Veterinarios</a></li>
                        <li><a href="/RegisterPages/VisitasReg">Visitas</a></li>
                    </ul>
                </li>
                <li><a id="nav_header_profile" href="#">Perfil</a></li>
            </ul>

        </nav>
        <div class="col-10">
        @Html.Raw(@ViewData["Respuesta"])
    </div>

    </header>

    <main>

        <h1>EDICIÓN DATOS VISITA:</h1>
        <h4>Veterinario: @Model.veterinario.Nombre @Model.veterinario.Apellidos</h4><hr>
    <form method="post">
        <input type="hidden" asp-for="visita.Id" />
            <input type="hidden" asp-for="veterinario.Id" name="veterinarioId"/>
            <input type="hidden" asp-for="veterinario.Nombre" />
            <input type="hidden" asp-for="veterinario.Apellidos" />
            <input type="hidden" asp-for="veterinario.Identificacion" />
            <input type="hidden" asp-for="veterinario.TarjetaProfesional" />
            <input type="hidden" asp-for="veterinario.Telefono"/>
            <div class="form-group">
                <label asp-for="visita.Mascota">Mascota:</label>
                <input asp-for="visita.Mascota" class="form-control">
                <span class="text-danger" asp-validation-for="visita.Mascota"></span>
            </div>
            <div class="form-group">
                <label asp-for="visita.Fecha">Fecha:</label>
                <input asp-for="visita.Fecha" class="form-control">
                <span class="text-danger" asp-validation-for="visita.Fecha"></span>
            </div>
            <div class="form-group">
                <label asp-for="visita.Temperatura">Temperatura:</label>
                <input asp-for="visita.Temperatura" class="form-control">
                <span class="text-danger" asp-validation-for="visita.Temperatura"></span>
            </div>
            <div class="form-group">
                <label asp-for="visita.Peso">Peso:</label>
                <input asp-for="visita.Peso" class="form-control">
                <span class="text-danger" asp-validation-for="visita.Peso"></span>
            </div>
            <div class="form-group">
                <label asp-for="visita.FrecuenciaRespiratoria">Frecuencia Respiratoria:</label>
                <input asp-for="visita.FrecuenciaRespiratoria" class="form-control">
                <span class="text-danger" asp-validation-for="visita.FrecuenciaRespiratoria"></span>
            </div>
            <div class="form-group">
                <label asp-for="visita.FrecuenciaCardiaca">Frecuencia Cardiaca:</label>
                <input asp-for="visita.FrecuenciaCardiaca" class="form-control">
                <span class="text-danger" asp-validation-for="visita.FrecuenciaCardiaca"></span>
            </div>
            <div class="form-group">
                <label asp-for="visita.EstadoDeAnimo">Estado de ánimo:</label>
                <input asp-for="visita.EstadoDeAnimo" class="form-control">
                <span class="text-danger" asp-validation-for="visita.EstadoDeAnimo"></span>
            </div>
            <div class="form-group">
                <label asp-for="visita.Recomendaciones">Recomendaciones:</label>
                <input asp-for="visita.Recomendaciones" class="form-control">
                <span class="text-danger" asp-validation-for="visita.Recomendaciones"></span>
            </div>
        <button type="submit" class="btn btn-primary" id="save_form">Grabar</button>

    </form>

        <p class="p-separator-up"></p>
        <a asp-page="./DetailsVeterinario" asp-route-veterinarioId='@Html.Raw(@ViewData["veterinario"])' class="btn btn-outline-primary mt-4">Regresar </a>
        <p class="p-separator-down">ㅤ</p>
    </main>

    <footer>
        <article>
            <p>© 2021 - Designed and Developed by InMotion</p>
        </article>
    </footer>

</body>