@page
@model MascotaFeliz.App.Presentacion.Pages.EditMascotaModel
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/editStyle.css" />
    <title>Editar datos de la Mascota - Mascota Feliz</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
           <a id="nav_header_logo" asp-page="/RegisterPages/vetView"><img src="/lib/logoMascFeliz.png" alt="Logo Mascota Feliz"/>
        </a>
        <a id="nav_header_text" asp-page="/RegisterPages/vetView">
            <h1>Mascota Feliz</h1>
        </a>

        <nav class="navbar">
            <ul class="nav_menu">
                <li><a id="nav_header_visit" asp-page="/RegisterPages/visitRegister">Registro Visitas</a></li>
                <li><a id="nav_header_petregister">Historial de Registros</a>
                    <ul class="nav_submenu">
                        <li><a href="/RegisterPages/MascotasReg">Mascotas</a></li>
                        <li><a href="/RegisterPages/PropietarioReg">Propietarios</a></li>   
                        <li><a href="/RegisterPages/List">Veterinarios</a></li>
                        <li><a href="/RegisterPages/VisitasReg">Visitas</a></li>
                    </ul>
                </li>
                <li><a id="nav_header_profile" href="#">Perfil</a></li>
            </ul>

        </nav>
        <div class="col-10">
        @Html.Raw(@ViewData["Respuesta"])
    </div>

    </header>

    <main>

    <h1>EDICIÓN DATOS MASCOTA:</h1>
    <h4>Propietario: @Model.propietario.Nombre @Model.propietario.Apellidos</h4><hr>
    <form method="post">
        <input type="hidden" asp-for="mascota.Id" />
            <input type="hidden" asp-for="propietario.Id" name="propietarioId"/>
            <input type="hidden" asp-for="propietario.Nombre" />
            <input type="hidden" asp-for="propietario.Apellidos" />
            <input type="hidden" asp-for="propietario.Identificacion" />
            <input type="hidden" asp-for="propietario.Direccion" />
            <input type="hidden" asp-for="propietario.Telefono"/>
            <div class="form-group">
                <label asp-for="mascota.NombreMascota">Nombre: </label>
                <input asp-for="mascota.NombreMascota" class="form-control">
                <span class="text-danger" asp-validation-for="mascota.NombreMascota"></span>
            </div>
            <div class="form-group">
                <label asp-for="mascota.TipoAnimal">Tipo:</label>
                <input asp-for="mascota.TipoAnimal" class="form-control">
                <span class="text-danger" asp-validation-for="mascota.TipoAnimal"></span>
            </div>
            <div class="form-group">
                <label asp-for="mascota.Raza">Raza:</label>
                <input asp-for="mascota.Raza" class="form-control">
                <span class="text-danger" asp-validation-for="mascota.Raza"></span>
            </div>
        <button type="submit" class="btn btn-primary" id="save_form">Grabar</button>

    </form>

    <p class="p-separator-up"></p>
    <a asp-page="./DetailsPropietario" asp-route-propietarioId='@Html.Raw(@ViewData["propietario"])' class="btn btn-outline-primary mt-4">Regresar </a>
    <p class="p-separator-down">ㅤ</p>

    </main>
    
    <footer>
        <article>
            <p>© 2021 - Designed and Developed by InMotion</p>
        </article>
    </footer>


</body>