@page
@model MascotaFeliz.App.Presentacion.Pages.MascotasRegModel
@{
    Layout = null;
    ViewData["Title"] = "Registro de Mascotas";
}

<head>
    <link rel="stylesheet" href="~/css/detailsStyle.css" />
    <title>Registro de Mascotas - Mascota Feliz</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
           <a id="nav_header_logo" asp-page="/RegisterPages/vetView"><img src="/lib/logoMascFeliz.png" alt="Logo Mascota Feliz"/>
        </a>
        <a id="nav_header_text" asp-page="/RegisterPages/vetView">
            <h1>Mascota Feliz</h1>
        </a>

        <nav class="navbar">
            <ul class="nav_menu">
                <li><a id="nav_header_visit" asp-page="/RegisterPages/visitRegister">Registro Visitas</a></li>
                <li><a id="nav_header_petregister">Historial de Registros</a>
                    <ul class="nav_submenu">
                        <li><a href="/RegisterPages/MascotasReg">Mascotas</a></li>
                        <li><a href="/RegisterPages/PropietarioReg">Propietarios</a></li>   
                        <li><a href="/RegisterPages/List">Veterinarios</a></li>
                        <li><a href="/RegisterPages/VisitasReg">Visitas</a></li>
                    </ul>
                </li>
                <li><a id="nav_header_profile" href="#">Perfil</a></li>
            </ul>

        </nav>

    </header>


    <main>
    <h2>Mascotas:</h2>
    <table class="table">
        <tr class="top-tr">
            <th>NOMBRE</th>
            <th>RAZA</th>
            <th>TIPO DE ANIMAL</th>
            <th>DUEÑO</th>
        </tr>
        @foreach (var mascota in Model.Mascotas)
        {
            <tr>
                <td>@mascota.NombreMascota</td>
                <td>@mascota.Raza</td>
                <td>@mascota.TipoAnimal</td>
                <td>@mascota.Propietario.Nombre</td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetailsMascota" asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-info-circle" id="details_link"></i>
                    </a>
                </td> 
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./EditMascota" asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-address-book fa-lg" id="edit_link" aria-hidden="true"></i>
                </a>
                </td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./DeleteMascota" asp-route-mascotaId="@mascota.Id">
                    <i class="fas fa-trash" id="delete_link" aria-hidden="true"></i>
                </a>
                </td>
            </tr>
        }
    </table>
            <p class="p-separator-up">ㅤ</p>
            <p class="p-separator-down"></p>
    <a asp-page=".\EditMascota" class="btn btn-primary" id="create_link">Adicionar Mascota</a>

    </main>

    <footer>
        <article>
            <p>© 2021 - Designed and Developed by InMotion</p>
        </article>
    </footer>


</body>