@page
@model MascotaFeliz.App.Presentacion.Pages.VisitasRegModel
@{
    Layout = null;
    ViewData["Title"] = "Historial de Visitas";
}

<head>
    <link rel="stylesheet" href="~/css/regVisitStyle.css" />
    <title>Registro de Visitas - Mascota Feliz</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a id="nav_header_logo" asp-page="/RegisterPages/vetView"><img src="/lib/logoMascFeliz.png"
                alt="Logo Mascota Feliz" />
        </a>
        <a id="nav_header_text" asp-page="/RegisterPages/vetView">
            <h1>Mascota Feliz</h1>
        </a>

        <nav class="navbar">
            <ul class="nav_menu">
                <li><a id="nav_header_visit" asp-page="/RegisterPages/visitRegister">Registro Visitas</a></li>
                <li><a id="nav_header_petregister">Historial de Registros</a>
                    <ul class="nav_submenu">
                        <li><a href="/RegisterPages/MascotasReg">Mascotas</a></li>
                        <li><a href="/RegisterPages/PropietarioReg">Propietarios</a></li>
                        <li><a href="/RegisterPages/List">Veterinarios</a></li>
                        <li><a href="/RegisterPages/VisitasReg">Visitas</a></li>
                    </ul>
                </li>
                <li><a id="nav_header_profile" href="#">Perfil</a></li>
            </ul>

        </nav>
        <div class="col-6">
        @Html.Raw(@ViewData["Respuesta"])
        </div>

    </header>


    <main>
        <h2>Visitas:</h2>
        <table class="table">
            <tr class="top-tr">
                <th>ID</th>
                <th>NOMBRE <br>MASCOTA</th>
                <th>VETERINARIO</th>
                <th>PESO</th>
                <th>FECHA</th>
                <th>FRECUENCIA <br>RESPIRATORIA</th>
                <th>FRECUENCIA <br>CARDIACA</th>

            </tr>
            @foreach (var veterinario in Model.Veterinarios)
    {
            @foreach (var visita in veterinario.Visitas)
            {
                <tr>
                    <td>@visita.Id</td>
                    <td>@visita.Mascota</td>
                    <td>@veterinario.Nombre @veterinario.Apellidos</td>
                    <td>@visita.Peso</td>
                    <td>@visita.Fecha</td>
                    <td>@visita.FrecuenciaRespiratoria</td>
                    <td>@visita.FrecuenciaCardiaca</td>
                    <form method="POST" class="form-inline" id="@visita.Id">
                                    <a class="btn btn-primary btn-sm mr-3" asp-page="/DetailsVeterinario"
                                asp-route-mascotaId="@visita.Id" asp-route-propietarioId="@veterinario.Id" data-toggle="tooltip" data-placement="right"
                                title="Detalles">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </form>
                </tr>
            }
        }
        </table>
        <p class="p-separator-up">ㅤ</p>
        <p class="p-separator-down"></p>


    </main>

    <footer>
        <article>
            <p>© 2021 - Designed and Developed by InMotion</p>
        </article>
    </footer>


</body>
